@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    height: 83px;
    background-color: #fff;
    border-bottom: 1px solid rgb(231, 234, 237);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
}

.content-conteiner{
    max-width: 1022px;
    width: 100%;
    height: 82px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-nave{
    width: 140px;
    height: 37px;
    margin:0 20px 0 0;
}

.logo-nave:hover{
    cursor: pointer;
}

.nav-contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item{
    height: 41px;
    padding: 6px 24px;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin: 0 4px;
}

.nav-item:hover{
    background-color: #e4d7ff;
    color: #360c72;
    border-radius: 50px;
    cursor: pointer;
}

.btn {
    cursor: pointer;
    border: 1px solid #652bdf;
    border-radius: 50px;
}


.btn:hover {
    color: #360c72;
    border: 1px solid #360c72;
}

.btn-1 {
    color: #652bdf;
}

.btn-2 {
    color: white;
    background-color: #652bdf;
    border-radius: 50px;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.nav-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 31px;
}

.divider-line{
    width: 1px;
    height: 24px;
    background-color:#e7eaed;
}


body{
    background-color:  rgb(252, 251, 255);
}
.div-conteiner{
    max-width: 1022px; 
    margin: 0 auto; 
    padding: 0 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    width: 1022px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 32px;
}

h2{
    font-size: 40px;
    margin: 8px 0;
}

.cards-container{
    width: 1022px;
    height: 314px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-item{
    width: 316.81px;
    height: 314px;
    display: flex;
    flex-direction: column;
    
}