@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    height: 83px;
    background-color: #fff;
    border-bottom: 1px solid rgb(231, 234, 237);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
}

.content-container {
    max-width: 1022px;
    width: 100%;
    min-height: 82px;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: none;
    cursor: pointer;
    color: rgb(51, 51, 51);
}

.logo-mobile {
    display: none;
    margin: 0;
}

.logo-nave {
    width: 140px;
    height: 37px;
    margin: 0 20px 0 0;
}

.logo-nave:hover {
    cursor: pointer;
}

.nav-contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    height: 41px;
    padding: 6px 24px;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin: 0 4px;
}

.nav-item:hover {
    background-color: #e4d7ff;
    color: #360c72;
    border-radius: 50px;
    cursor: pointer;
}

.btn {
    cursor: pointer;
    border: 1px solid #652bdf;
    border-radius: 50px;
}


.btn:hover {
    color: #360c72;
    border: 1px solid #360c72;
}

.btn-1 {
    color: #652bdf;
}

.btn-2 {
    color: white;
    background-color: #652bdf;
    border-radius: 50px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 31px;
}

.divider-line {
    width: 1px;
    height: 24px;
    background-color: #e7eaed;
}


body {
    background-color: rgb(252, 251, 255);
}

.div-container {
    max-width: 1022px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    max-width: 1022px;
    width: 100%;
    min-height: 58px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 32px;
}

h2 {
    width: 100%;
    font-size: 40px;
    margin: 8px 0;
    font-weight: 700;
    line-height: 2.625rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-2 {
    max-width: 1022px;
    width: 100%;
    min-height: 58px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 16px;
}

.cards-container {
    max-width: 1022px;
    width: 100%;
    min-height: 314px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.card-wrapper {
    width: 100%;
    max-width: 316px;
    min-height: 314px;
    height: auto;
}

.card-item {
    margin-top: 12px;
    background: #fff;
    border-radius: 16px;
    width: 100%;
    min-height: 302px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    grid-gap: 16px;
    gap: 16px;
    transition: transform 0.6s ease;
}

.card-item:hover {
    transform: translateY(-12px);
}

.bi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #652bdf;
    font-size: 24px;
}


.card-item-icon {
    width: 62px;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px;
    background: #f0eafc;
    border-radius: 8px;
}

.card-wrapper:hover .card-item i {
    color: #360c72;
}

.card-item-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.card-tex-title h3 {
    font-size: 24px;
    color: #2b2b2b;
    font-weight: 600;
}

.card-tex-descrition p {
    font-size: 18px;
    color: #6a6a6a;
}

.banner-wrapper {
    max-width: 1022px;
    width: 100%;
    min-height: 134px;
    height: auto;
    background-color: #360c72;
    border-radius: 32px;
    padding: 32px 40px;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    flex-wrap: wrap;
}

.banner-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.banner-text-title {
    font-size: 30px;
    color: #fff;
}

.banner-text-description {
    font-size: 18px;
    color: #fff;
}

.banner-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #652bdf;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    padding: 12px 40px;
    background-color: #fff;
    cursor: pointer;
}

.banner-button:hover {
    background-color: black;
    color: #652bdf;
}

.parrafo {
    text-align: center;

}

.parrafo p {
    margin-bottom: 12px;
    line-height: 1.5;
    color: #6a6a6a;
}

.medios-conten-container {
    max-width: 1022px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.medios-card {
    max-width: 1022px;
    width: 100%;
    min-height: 350px;
    height: auto;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    margin-bottom: 60px;
}

.medios-wrapped {
    width: 100%;
    max-width: 551px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px;
}

.medios-imagen img {
    width: 400px;
    max-width: 100%;
    height: auto;
}

.medios-texto {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.medios-texo-title h3 {
    font-size: 30px;
    color: #2b2b2b;
    font-weight: 600;
}

.medios-texto-description p {
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 400;
    padding-bottom: 24px;
}

.medios-button a {
    padding: 14px 28px;
    border-radius: 50px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 600;
    background-color: #652bdf;
    color: #fff;
    font-weight: 400;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-content-container {
    max-width: 1022px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.footer.icon {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
}

.footer-wrapper {
    width: 237.5px;
    display: flex;
    flex-direction: column;
}

.footer-items ul li {
    width: 100%;
    height: 24px;
    margin: 8px 0;
}

.footer-items ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5rem;
}

.footer-items ul li a:hover {
    color: #652bdf;
    text-decoration: underline;
    text-decoration-color: #652bdf;
    text-underline-offset: 5px;
}



@media (max-width: 992px) {
    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        display: block;
        width: 40px;
        height: auto;
    }

    .logo-nave {
        display: flex;
        justify-content: center;
    }

    .menu-list {
        display: flex;
        position: absolute;
        left: 20px;
        font-size: 30px;
        cursor: pointer;
    }

    .menu-list i {
        color: #2b2b2b;
        font-size: 30px;
        display: block;
    }


    .nav-menu,
    .nav-buttons {
        display: none;
    }

    .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    .title {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
        margin-bottom: 32px;
    }

    h2 {
        font-size: 30px;
        display: block;
        text-align: justify;
        text-align-last: center;
    }
}

@media (max-width: 768px) {
    .cards-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .card-wrapper {
        width: 100%;
        max-width: 100%;
        min-height: 230px;
        max-height: 100%;
    }

    .card-item {
        margin-top: 12px;
        background: #fff;
        border-radius: 16px;
        width: 100%;
        min-height: 184px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        grid-gap: 16px;
        gap: 16px;
    }

    .card-tex-title h3 {
        font-size: 20px;
        color: #2b2b2b;
        font-weight: 600;
    }

    .card-tex-descrition p {
        font-size: 16px;
        color: #6a6a6a;
    }

    .medios-card {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
        text-align: center;
    }

    .medios-card.invertir {
        flex-direction: column-reverse;
    }


    .medios-wrapped {
        width: 100%;
        max-width: 100%;
        align-items: center;
        padding: 20px 0;
    }

    .medios-texto {
        align-items: center;
        width: 100%;
    }

    .medios-imagen {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .medios-imagen img {
        max-width: 300px;
    }

    .medios-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }





.footer {
        padding: 40px 10px;
        height: auto;
    }

    .footer-content-container {
        align-items: center;
    }

    .footer-icon {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .footer-icon img {
        max-width: 100px;
    }

    .footer-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        column-gap: 0;
    }

    .footer-wrapper {
        width: 50%; 
        box-sizing: border-box; 
        padding: 10px;         
        text-align: start;    
    }

    .footer-items h4 {
        font-size: 16px;
        margin-bottom: 15px;
        color: #2b2b2b;
    }

    .footer-items ul li {
        height: auto;
        margin: 10px 0;
        line-height: 1.2;
    }

    .footer-items ul li a {
        font-size: 13px;
        display: block;
    }
}